<!--end row-->

<div class="row justify-content-center">
  <div class="col-md-10 col-lg-10">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">{{ 'PRICE.LIST.TITLE' | trl }}</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th>{{ 'PRICE.LIST.TABLE.NAME_HEADER' | trl }}</th>
                <th>{{ 'PRICE.LIST.TABLE.AMOUNT_HEADER' | trl }}</th>
                <th>{{ 'PRICE.LIST.TABLE.FREQUENCY_HEADER' | trl }}</th>
                <th>{{ 'PRICE.LIST.TABLE.CURRENCY_HEADER' | trl }}</th>
                <th>{{ 'PRICE.LIST.TABLE.SERVICES_HEADER' | trl }}</th>
                <th class="text-end">{{ 'PRICE.LIST.TABLE.ACTION_HEADER' | trl }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="subscriptions !== []">
                <tr *ngFor="let subscription of subscriptions">
                  <td>
                    {{ subscription.name }}
                  </td>
                  <td>
                    {{ subscription.amount }}
                  </td>
                  <td>
                    {{ subscription.frequency }}
                  </td>
                  <td>
                    {{ subscription.currency }}
                  </td>
                  <td>
                    @for (service of subscription.services; track service; let last = $last) {
                    <span>{{ service.name }}{{ !last ? ', ' : '' }}</span>
                    }
                  </td>


                  <td class="text-end">
                    <a href="javascript:void(0);" (click)="openEditModal(subscription)" class="me-0.5"><i
                        class="las la-pen text-secondary font-16"></i></a>
                    @if (subscription.isEnabled) {
                    <a href="javascript:void(0);"><i class="las la-lock text-secondary font-16"></i></a>
                    }
                    @if (!subscription.isEnabled) {
                    <a href="javascript:void(0);"><i class="las la-unlock text-secondary font-16"></i></a>
                    }
                    <a href="javascript:void(0);" (click)="deleteService(subscription)"><i
                        class="las la-trash-alt text-secondary font-16"></i></a>
                    <!-- <ng-container *ngIf="(loading && currentService!==null && currentService.name === service.serviceName)">
                      <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    </ng-container> -->
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <!--end /table-->
        </div>
        <!--end /tableresponsive-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->

<!-- MODAL -->
<div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'PRICE.LIST.MODAL.TITLE' | trl }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <form [formGroup]="editForm">
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">{{ 'PRICE.LIST.MODAL.NAME_LABEL' | trl }}</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ 'PRICE.LIST.MODAL.AMOUNT_LABEL' | trl }}</label>
            <input type="text" class="form-control" formControlName="amount" />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ 'PRICE.ADD.FORM.CURRENCY_LABEL' | trl }}</label>
            <input type="text" class="form-control" formControlName="currency" />
          </div>
          <div class="mb-3">
            <label class="form-label">{{ 'PRICE.ADD.FORM.SERVICES_LABEL' | trl }}</label>
            <select class="form-select" formControlName="serviceIds" multiple>
              <option *ngFor="let service of services" [value]="service.id">{{ service.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">{{ 'PRICE.ADD.FORM.FREQUENCY_LABEL' | trl }}</label>
            <select class="form-select" formControlName="frequency">
              <option value="" disabled selected>{{ 'PRICE.ADD.FORM.FREQUENCY_PLACEHOLDER' | trl }}</option>
              <option *ngFor="let item of frequencies" [value]="item.frequency">{{ item.label }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {{ 'PRICE.LIST.MODAL.CANCEL_BUTTON' | trl }}
          </button>
          <button type="button" class="btn btn-primary" (click)="updateService()">
            {{ 'PRICE.LIST.MODAL.UPDATE_BUTTON' | trl }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>