<!--end row-->

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Striped Rows</h4>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end card-header-->
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead class="table-light">
              <tr>
                <th>Customer</th>
                <th>Email</th>
                <th>Contact No</th>
                <th class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img
                    src="assets/images/users/avatar-3.jpg"
                    alt=""
                    class="rounded-circle thumb-md me-1 d-inline"
                  />
                  Aaron Poulin
                </td>
                <td>Aaron&#64;example.com</td>
                <td>+21 21547896</td>
                <td class="text-end">
                  <a href="javascript:void(0);" class="me-0.5"
                    ><i class="las la-pen text-secondary font-16"></i
                  ></a>
                  <a href="javascript:void(0);"
                    ><i class="las la-trash-alt text-secondary font-16"></i
                  ></a>
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="assets/images/users/avatar-4.jpg"
                    alt=""
                    class="rounded-circle thumb-md me-1 d-inline"
                  />
                  Richard Ali
                </td>
                <td>Richard&#64;example.com</td>
                <td>+41 21547896</td>
                <td class="text-end">
                  <a href="javascript:void(0);" class="me-0.5"
                    ><i class="las la-pen text-secondary font-16"></i
                  ></a>
                  <a href="javascript:void(0);"
                    ><i class="las la-trash-alt text-secondary font-16"></i
                  ></a>
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="assets/images/users/avatar-5.jpg"
                    alt=""
                    class="rounded-circle thumb-md me-1 d-inline"
                  />
                  Juan Clark
                </td>
                <td>Juan&#64;example.com</td>
                <td>+65 21547896</td>
                <td class="text-end">
                  <a href="javascript:void(0);" class="me-0.5"
                    ><i class="las la-pen text-secondary font-16"></i
                  ></a>
                  <a href="javascript:void(0);"
                    ><i class="las la-trash-alt text-secondary font-16"></i
                  ></a>
                </td>
              </tr>
              <tr>
                <td>
                  <img
                    src="assets/images/users/avatar-6.jpg"
                    alt=""
                    class="rounded-circle thumb-md me-1 d-inline"
                  />
                  Albert Hull
                </td>
                <td>Albert&#64;example.com</td>
                <td>+88 21547896</td>
                <td class="text-end">
                  <a href="javascript:void(0);" class="me-0.5"
                    ><i class="las la-pen text-secondary font-16"></i
                  ></a>
                  <a href="javascript:void(0);"
                    ><i class="las la-trash-alt text-secondary font-16"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <!--end /table-->
        </div>
        <!--end /tableresponsive-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->
